.blurred {
  overflow: hidden;
  left: 0;
  width: 100%;
}

.fixedPaint {
	background-color: black;
	opacity: 0.9;
}

.main {
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
	transform: scale(1.02);
}

#fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 14;
}

#mainiframe {
	left: 0;
	position: fixed;
	width: 100%;
	height: 50px;
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
	z-index: -3;
}
	