@font-face {
  font-family: 'BonvenoCF-Light';
  src: url('BonvenoCF-Light.otf'); /* IE9 Compat Modes */
  src: url('BonvenoCF-Light.otf') format('otf'); /* Super Modern Browsers */
  src: url('BonvenoCF-Light.ttf') format('truetype'); /* for the stupid mozilla firefox */
  
}
/* Cart page --------------------*/
input.cbPadding {
	margin-right: 12px;
}

hr.rowGrayscale {
	margin-top: 18px;
	border-color: #828282;
}

.rightAlign {
	text-align: right;
}

h4.inlineBlock, input.inlineBlock {
	display: inline-block;
}

.block {
	display: block;
}

h4.block {
	margin-top: 35px;
}

#paypal-container {
	padding: 20px 0;
}

.paypal-button-tag-content {
	color: white !important;
} 

#bt-pp-email[style] {
	color: white !important;
}

#bt-pp-name[style] {
	color: white !important;
}

#braintree-paypal-loggedin[style] {
	max-width: none !important;
}
/*------------------------------*/

/* Booking page --------------------*/
#staticBookingBar {
    position: fixed;
    bottom: 0;
    background-color: #403F3C;
    padding: 30px 10%;
    -webkit-box-shadow: 0px 0px 72px -8px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 72px -8px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 72px -8px rgba(0,0,0,0.8);
    width: 100%;
}

/*------------------------------*/

/* Empty cart --------------------*/
#emptyCart {
	height: 10%;
	width: 10%;
}

.centerAlignEmptyCart {
	padding-top: 10%;
	text-align: center;
}

/*------------------------------*/

/* User nav --------------------*/
#cartIcon {
	background-image: url('../img/cart.png');
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

#cartPadding {
	padding: 0;
	margin-bottom: -4px;
}



/*------------------------------*/

/* Theater----------------------*/
.theater {
    border: 1px solid white;
    margin: 10px 0;
    padding: 10px;
}

.theater-name {
	padding-left: 15px;
	margin: 0;
}
/*------------------------------*/
/* Movie page------------------- */
.typeLabel {
    font-family: "helvetica neue", "arial", "sans-serif";
    font-size: 10px;
    display: inline-block;
    background-color: black;
    padding: 5px 4px;
    text-transform: uppercase;
    margin-left: 10px;
}

.imax {
	background-image: url('../img/imax.png');
	background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50%;
    height: 23px;
    width: 50px;
    margin-bottom: -5px;
}

.atmos {
	background-image: url('../img/atmos.png');
	background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50%;
    height: 23px;
    width: 50px;
    margin-bottom: -5px;
    background-color: white;
}

.imax3d {
	background-image: url('../img/imax3d.png');
	background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50%;
    height: 23px;
    width: 50px;
    margin-bottom: -5px;
}
/* ------------------------------------------- */

/* Halls.jsp special styling------------------- */
.box {
	padding: 15px 23px;
	display: inline-block;
	border: 1px solid white;
	font-size: 20px;
	margin-right: 15px;
}

.hallArea {
	margin-top: 25px;
}

/* ------------------------------------------- */

/* Moviestat page numbering------------------- */
.numbering {
    position: absolute;
    background-color: #FF3119;
    top: -15px;
    padding: 8px 15px;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.86);
    box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.86);
}

/* ------------------------------------------- */

.padBottom {
	padding-bottom: 200px;
}

p.padBottomNone {
	padding-bottom: 0 !important;
	margin-bottom: 0;
}

p.padTopNone {
	padding-top: 0 !important;
}

.padTop30 {
	padding-top: 30px;
}

/* PROFILE PAGE------------------------- */

.profileInfoGroup {
	display: block;
	padding-top: 14px !important;
}

.profileName {
	font-size: 28px;
	font-weight: 200;
	padding-top: 18px;
	display: inline-block;
}

.editProfileBtn {
	display: block;
	margin: 25px 0 50px 0;
}

/* END OF PROFILE PAGE------------------------- */

/* SEATS------------------------- */
.seat-selected {
	background-color: white !important;
	border-bottom: 1px solid #ccff00 !important;
	color: black !important;
}

.seat-taken {
	color: #CC2714 !important;
	border-bottom: 1px solid #CC2714 !important;
}

li.seat-taken:hover {
	background-color: transparent !important;
}

.seat-available:hover:active {
	background-color: #ccff00 !important;
}

.seat-row-marker {
	margin-right: 20px;
}

.screen-marker {
	width: 80%;
	margin: auto;
	background-color: white;
	color: rgba(0, 0, 0, 0.80);
	text-align: center;
	padding: 10px 0;
}

#seating-board {
	text-align: center;
}


/* END OF SEATS--------------------------------- */

/* CREDIT CARD ICONS AND STYLING---------------- */

.mastercard {
	height: 30px;
	width: 50px;
	background: url('../img/mastercard.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.visa {
	height: 30px;
	width: 50px;
	background: url('../img/visa.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.amex {
	height: 30px;
	width: 50px;
	background: url('../img/amex.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* END OF CREDIT CARD ICONS AND STYLING--------- */

textarea {
	resize: none;
}

.noPadding {
	padding: 0;
}

.noMargin {
	margin: 0;
}

.padTop20 {
	padding-top: 20px;
}

.errorMessage {
	color: #FF3119;
}

.arrow {
	background: url('../img/newarrow.png');
	height: 50px;
    width: 50px;
    position: absolute;
    background-repeat: no-repeat;
    top: -68px;
    right: 20px;
    background-size: contain;
}

.arrowLogoutMenu {
	top: -48px;
}

#signInPanel {
	position: relative;
}
.movTile:hover {
	background-color: #1e1e1e;
	position: relative;
}

.headerStyle {
	height: 34px;
	position: relative;
}

.headerBaseline {
	position: absolute;
	bottom: 0;
}

h2 {
	color: #ccff00;
	font-family: "BonvenoCF-Light", "Helvetica Neue", "Arial", "Sans Serif";
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: white;
	text-transform: uppercase;
}

.signInOverlay {
	width: 320px;
	background-color: #403F3C;
	position: absolute;
	z-index: 100;
	text-align: center;
	padding: 20px 40px;
	-webkit-box-shadow: 0px 0px 72px -8px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 72px -8px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 72px -8px rgba(0,0,0,0.8);
	right: 0;
	margin-top: 20px;
}

#navBarNav ul li{
	font-family: "Helvetica Neue", "Arial", "Sans Serif";
	padding-top: 20px;
	color: white !important;
}

.alignLeft {
	text-align: left;
}

.alignRight {
	text-align: right;
}

.dataTables_length {
	margin-bottom: 30px;
}

#j-table_wrapper label{
	color: white;
}

#j-table_wrapper tobody{
	color: white;
}

#j-table_wrapper table, #j-table_wrapper th, #j-table_wrapper td {
   border: 1px solid white;
}

#j-table_wrapper tr {
	background-color: transparent;
}

#j-table_wrapper th {
	text-align: center;
}

#j-table_wrapper input:focus {
	background-color: white;
	color: black;
}

.jtableInline {
	display: inline-block;
}

.paddingLeft {
	padding-left: 5px;
}

.reviewer-rating {
	color: #ccff00;
}

.reviewer-review-message {
	padding-top: 10px !important;
}

.reviewer-name, .reviewer-rating {
	font-weight: 500;
	font-size: 12px;	
}

.review {
	border: 1px solid white;
	display: inline-block;
	padding: 10px;
}

#reviews .review {
	margin-right: 10px;
	margin-bottom: 10px;
}

#reviews .review:last-child {
	margin-right:0;
}
.review p {
	padding: 0;
	margin: 0;
}

.paddingBottom {
	margin-bottom: 15px !important;
}
.reviewSubmitBtn {
	margin-bottom: 15px;
}

.white {
    border-color: white;
    margin-bottom: 8px;
}

.minPadding {
	padding: 3px;
	margin: 0;
}

.legendText {
	font-family: "BonvenoCF-Light", "Helvetica Neue", "Arial", "Sans Serif";
  	text-transform: uppercase;
  	font-size: 12px;
  	font-weight: 800;
  	padding: 0;
  	margin: 0;
  	color: #ccff00;
}

#loginPanel {
	background-color: black;
	padding: 40px 30px;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.4);
}
#admPanelPadding {
	padding-top: 20px;
}

.centerAlign {
	text-align: center;
}

#userNavbar {
	padding-left: 0;
	font-size: 18px;
} 

#userNavGreen {
	color: #ccff00;
}

#userNavbar ul li {
	color: white;
	font-family: "BonvenoCF-Light", "Helvetica Neue", "Arial", "Sans Serif";
	padding-top: 20px;
	color: white !important;
}

a {
	color: white;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #ccff00;
	text-decoration: none;
}

a:visited a:hover{
	text-decoration: none;
}

.form-control {
	color: white;
}

.form-control:focus {
	color: black;
}
select, #j-table_wrapper select {
	-webkit-appearance: none;
   	-moz-appearance: none;
  	appearance: none;
  	font-family: "BonvenoCF-Light", "Helvetica Neue", "Arial", "Sans Serif";
  	text-transform: uppercase;
  	font-size: 16px;
  	
}

select:focus {
	color: black;
}

select option {
	text-align: center;
}
#movieText > p:first-child {
	font-size: 30px;
}
.toggleVisibility {
	display: none;
}

#showTimesSelected button {
	text-align: left;
}
#stTimeArea {
	text-align: right;
}

#stTimeArea button {
	margin-top: 15px;
}
#imagePreviewShowTimes img{
	margin-right: 0;
}

#toast {
	width: 80%;
	background-color: black;
	border: 1px solid white;
	position: fixed;
	top: 5%;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, 0);
	text-align: center;
}

#ongoingToast {
	width: 80%;
	background-color: black;
	border: 1px solid white;
	position: fixed;
	z-index: 100;
	text-align: center;
    right: 20px;
    width: 250px;
    bottom: 20px;
}

#toast p, #ongoingToast p {
	padding: 20px 0;
	margin: 0;
}

.toastVisible {
	display: none;
}

.taskbarBtn {
	float: right;
}

body {
	background-color: rgba(0, 0, 0, 0.80);
	/* background-image: url('../img/background.jpg'); */
	color: white;
}

.btn, .btn-default {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0;
	border: none;
	border-bottom: 1px solid white;
	border-color: none;
	color: white;
	font-family: "BonvenoCF-Light", "Helvetica Neue", "Arial", "Sans Serif";
	text-transform: uppercase;
}

#j-table_paginate a {
	background-color: rgba(0, 0, 0, 0) !important;
	border-radius: 0;
	border: 1px solid white;
	border-color: none;
	color: white !important;
	font-family: "BonvenoCF-Light", "Helvetica Neue", "Arial", "Sans Serif";
	text-transform: uppercase;
}

#j-table_paginate a:hover {
	background-color: white !important;
	color: black !important;
	border-color: none !important;
	background-image: none !important;
}

.btn:hover, .btn-default:hover{
	background-color: white !important;
	color: black;
	border-color: none;
}

#j-table_paginate a.current {
	background-image: none !important;
	background-color: white !important;
	color: black !important;
}

.center-block {
	padding-bottom: 20px;
}

.selected{
	background-color: white;
	color: black;
}

h3 {
	font-family: 'BonvenoCF-Light';
	text-transform: uppercase;
}

hr {
	margin-top: 0;
	border-color: #ccff00;
}

label {
	text-align: right;
	transform: translateY(25%);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	margin: 0;
	display: inline-block;
	padding: 17px 10px;
	color: #ccff00;
	font-family: "Helvetica Neue", "Arial", "Sans Serif";
	color: white !important;
}

ul li:hover {
	color: white;
}

#header a li {
	color: white;
}

#header a:hover, #header a:hover li{
	text-decoration: none;
	color: #ccff00;
}

ul li a:hover{
	text-decoration: none;
}

nav {
	padding-left: 12%;
	z-index: 16;
}

#pgHeader {
	text-align: center;
	position: relative;
	margin-bottom: 8px;
}

.mainbg {
	background-repeat: repeat;
}

.padTop {
	margin-top: 85px;
}

.padTop100 {
	margin-top: 100px;
}

.center-block {
  	text-align: center;
}

.movThumbnail {
	height: 323.7px;
	width: 213.2px;
	background-color: white;
	background-image: url("../img/placeholder.png");
	background-size: contain;
	margin: auto;
	display: block;
	-webkit-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.86);
	-moz-box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.86);
	box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.86);
}

.movTile {
	margin-bottom: 30px;
}

.movTile p {
	text-align: center;
	padding-top: 10px;
}

.textboxStyle, #j-table_wrapper select, #j-table_wrapper input {
	border-radius: 0;
    box-shadow: none;
    /* border: 1px solid white; */
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid white;
}

select.textboxStyle, #j-table_wrapper select {
	background: url('../img/arrowWhite.png') no-repeat right;
	background-size: 10px;
	background-position-x: 95%;
}

.textboxStyle:focus {
    background-color: white;
}

select.textboxStyle:focus, #j-table_wrapper select:focus {
	background: url('../img/arrowBlack.png') no-repeat right;
	background-size: 10px;
	background-position-x: 95%;
    background-color: white;
}

#header {
	z-index: 16;
}

#header li {
	font-family: "BonvenoCF-Light", "Helvetica Neue", "Arial", "Sans Serif";
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 900;
	list-style-type: none;
}

#headerWrapper {
	position: fixed;
	height: auto;
	width: 100%;
	text-align: center;
	z-index: 15;
	background-color: #485808;
	-webkit-box-shadow: 0px 0px 72px -8px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 72px -8px rgba(0,0,0,0.8);
	box-shadow: 0px 0px 72px -8px rgba(0,0,0,0.8);
}

.headerWrapperPublic {
	background-color: #403F3C !important;
}

#header, nav {
	display: inline-block;
}

.buttonsMargin {
	text-align: left;
	padding: 15px 0;
}

.buttonMargin {
	margin: 10px 15px;
}

.inlineView * {
	display: inline;
}

#nextBtn, #submitBtn {
	float:right;
}

.modal-content {
	background-color: black;
    border-radius: 0;
    border: 1px solid white;
}

.modal-header {
	font-family: "BonvenoCF-Light", "Helvetica Neue", "Arial", "Sans Serif";
	text-transform: uppercase;
	text-align: center;
	color: #ccff00;
}

#contentArea {
	text-align: center;
}

#waitMsg {
	text-align: center;
}
#waitMsg p{
	font-family: "BonvenoCF-Light", "Helvetica Neue", "Arial", "Sans Serif";
	text-transform: uppercase;
}

.trashIcon {
	margin-left: 5px;
}

// Styling for jquery autocomplete
.autocomplete-suggestions { border: 1px solid #999; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; color: black; background-color: white; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

@media screen and (max-width: 1045px) {
	#header, nav {
		width: 100%;
		text-align: center;
		display: block;
		padding-left: 0;
	}
	
	#blurredContent {
		padding: 0 5%;
	}
	
	#header {
		padding-top: 20px;
	}
	
	.padTop {
		margin-top: 130px;
	}
	
/* 	#nextBtn {
		width: 100%;
	}
	#pgHeader * {
		display: block;
	} */
}